.square {
    box-sizing: border-box;
    border-style: solid;
    border-width: thin;
    flex: 1 1 calc(100% / var(--number-squares)); 
    aspect-ratio: 1 / 1;
    /* --> 16 is number of squares per side */
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* gap: 5px; */ 
    /* gap destroys the calculation for flexbase */
}